@using HtmlHelpers.BeginCollectionItem;
@using CapaPresentacion.ViewModels;
@using CapaPresentacion.Controllers;
@model AdaptacionDiagnosticoViewModel

<div>
    @Html.HiddenFor(m => m.DiagnosticoId, new { id = "DiagnosticoId" })
    @Html.HiddenFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.IdAdaptacion, new { id = "IdAdaptacion" })
    @Html.HiddenFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.NombreAdaptacion, new { id = "NombreAdaptacion" })
    <div>
        @Html.LabelFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.Descripcion)
        @Html.DisplayFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.Descripcion)
    </div>
    @if (Model.AdaptacionDiagnosticoEstudiante.Adaptacion.Excepcional)
    {
        <div>
            @Html.LabelFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.DescripcionExcepcional)
            @Html.DisplayFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.DescripcionExcepcional)
        </div>
    }
    <div>
        @Html.LabelFor(m => m.AdaptacionDiagnosticoEstudiante.Observaciones)
        @Html.TextBoxFor(m => m.AdaptacionDiagnosticoEstudiante.Observaciones, new { id = "Observaciones" })
    </div>
    <button type="button" id="botonAnhadir">Añadir</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Controlador de eventos de clic para el botón "Añadir"
        $("#botonAnhadir").click(function () {
            // Obtén los datos de los campos
            var idDiagnostico = $("#DiagnosticoId").val();
            var idAdaptacion = $("#IdAdaptacion").val();
            var nombreAdaptacion = $("#NombreAdaptacion").val();
            var observaciones = $("#Observaciones").val();

            // Comprueba si ya existe una fila con el mismo nombre de adaptación
            var exists = $("#tablaAdaptacionesRegistradas tbody tr[data-id-diagnostico='" + idDiagnostico + "'][data-id-adaptacion=" + idAdaptacion + "]").length>0;
            debugger;
            // Si no existe, añade la nueva fila
            if (!exists) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action(nameof(CentrosEducativosController.SetDiagnosticoAdaptacion), "CentrosEducativos")",
                    data: {
                        idAdaptacion: $("#selectAdaptacion").val(),
                        idDiagnostico: $("#selectDiagnostico").val(),
                        observaciones: observaciones
                    },
                    success: function (partialView) {
                        $("#diagnosticosDropdown select").val(null);
                        $("#diagnosticosBody").empty();
                        $("#tablaAdaptacionesRegistradas tbody").append(partialView);

                        // Muestra la tabla si es la primera fila
                        if ($("#tablaAdaptacionesRegistradas tbody tr").length > 0) {
                            $("#tablaAdaptacionesRegistradas").show();
                        }
                    }
                })
            } else {
                alert("Ya existe una fila con el mismo nombre de adaptación.");
            }
        });

        // Controlador de eventos de clic para los botones "Borrar"
        $("#tablaAdaptacionesRegistradas").on("click", ".deleteButton", function () {
            // Elimina la fila correspondiente
            $(this).closest("tr").remove();

            if ($("#tablaAdaptacionesRegistradas tbody tr").length === 0) {
                $("#tablaAdaptacionesRegistradas").hide();
            }
        });
     });
</script>