@using HtmlHelpers.BeginCollectionItem;
@using CapaPresentacion.ViewModels;
@model AdaptacionDiagnosticoViewModel

@using (Html.BeginCollectionItem($"SelectedAdaptaciones"))
{
    <div>
        @Html.HiddenFor(m => m.DiagnosticoId, new { id = "DiagnosticoId" })
        @Html.HiddenFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.IdAdaptacion, new { id = "IdAdaptacion" })
        @Html.HiddenFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.NombreAdaptacion, new { id = "NombreAdaptacion" })
        <div>
            @Html.LabelFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.Descripcion)
            @Html.DisplayFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.Descripcion)
        </div>
        @if (Model.AdaptacionDiagnosticoEstudiante.Adaptacion.Excepcional)
        {
            <div>
                @Html.LabelFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.DescripcionExcepcional)
                @Html.DisplayFor(m => m.AdaptacionDiagnosticoEstudiante.Adaptacion.DescripcionExcepcional)
            </div>
        }
        <div>
            @Html.LabelFor(m => m.AdaptacionDiagnosticoEstudiante.Observaciones)
            @Html.TextBoxFor(m => m.AdaptacionDiagnosticoEstudiante.Observaciones, new { id = "Observaciones" })
        </div>
        <button type="button" id="botonAnhadir">Añadir</button>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Controlador de eventos de clic para el botón "Añadir"
        $("#botonAnhadir").click(function () {
            // Obtén los datos de los campos
            var idDiagnostico = $("#DiagnosticoId").val();
            var idAdaptacion = $("#IdAdaptacion").val();
            var nombreAdaptacion = $("#NombreAdaptacion").val();
            var observaciones = $("#Observaciones").val();

            // Comprueba si ya existe una fila con el mismo nombre de adaptación
            var exists = $("#tablaAdaptacionesRegistradas tbody tr[data-id-diagnostico='" + idAdaptacion + "'][data-id-adaptacion=" + idAdaptacion + "]").length>0;
            $("#tablaAdaptacionesRegistradas tbody tr").each(function () {
                if ($(this).find("td:eq(1)").text() === nombreAdaptacion) {
                    exists = true;
                    return false; // Salir del bucle .each
                }
            });

            // Si no existe, añade la nueva fila
            if (!exists) {
                // Crea una nueva fila y añádela a la tabla
                var newRow = `
                    <tr data-id-diagnostico="` + idDiagnostico + `" data-id-adaptacion="` + idAdaptacion + `">
                        <td>
                            ${idDiagnostico}
                            <input type="hidden" name="SelectedAdaptaciones[${$("#tablaAdaptacionesRegistradas tr").length}].DiagnosticoId" value="${idDiagnostico}" />
                        </td>
                        <td>
                            ${nombreAdaptacion}
                            <input type="hidden" name="SelectedAdaptaciones[${$("#tablaAdaptacionesRegistradas tr").length}].AdaptacionDiagnosticoEstudiante.Adaptacion.IdAdaptacion" value="${idAdaptacion}" />
                        </td>
                        <td>
                            ${observaciones}
                            <input type="hidden" name="SelectedAdaptaciones[${$("#tablaAdaptacionesRegistradas tr").length}].AdaptacionDiagnosticoEstudiante.Observaciones" value="${observaciones}" />
                        </td>
                        <td>
                            <button class="deleteButton">Borrar</button>
                        </td>
                    </tr>`;
                $("#tablaAdaptacionesRegistradas tbody").append(newRow);

                // Muestra la tabla si es la primera fila
                if ($("#tablaAdaptacionesRegistradas tbody tr").length > 0) {
                    $("#tablaAdaptacionesRegistradas").css("display", "table");
                }
            } else {
                alert("Ya existe una fila con el mismo nombre de adaptación.");
            }
        });

        // Controlador de eventos de clic para los botones "Borrar"
        $("#tablaAdaptacionesRegistradas").on("click", ".deleteButton", function () {
            // Elimina la fila correspondiente
            $(this).closest("tr").remove();

            if ($("#tablaAdaptacionesRegistradas tbody tr").length === 0) {
                $("#tablaAdaptacionesRegistradas").css("display", "none");
            }
        });
     });
</script>