@using CapaPresentacion.Controllers;

<div class="modal fade" id="cambioContrasenaModal" tabindex="-1" role="dialog" aria-labelledby="cambioContrasenaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cambioContrasenaModalLabel">Cambiar contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm(nameof(CentrosEducativosController.CambioContrasenha), "CentrosEducativos", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Label("Contraseña Actual", new { @class = "control-label" })
                        @Html.Password("ContrasenaActual", null, new { @class = "form-control", id = "contrasenhaActual" })
                        <small id="capsLockWarningActual" class="badge bg-secondary" style="display: none">Las mayúsculas están activadas.</small>
                    </div>

                    <div class="form-group">
                        @Html.Label("NuevaContrasena", "Nueva contraseña", new { @class = "control-label" })
                        @Html.Password("NuevaContrasena", null, new { @class = "form-control", id = "nuevaContrasenha" })
                        <small id="capsLockWarningNueva" class="badge bg-secondary" style="display: none">Las mayúsculas están activadas.</small>
                    </div>

                    <div class="form-group">
                        @Html.Label("ConfirmarNuevaContrasena", "Confirmar Nueva Contraseña", new { @class = "control-label" })
                        @Html.Password("ConfirmarNuevaContrasena", null, new { @class = "form-control", id = "confirmarContrasenha" })
                        <small id="capsLockWarningConfirmar" class="badge bg-secondary" style="display:none">Las mayúsculas están activadas.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-custom">Guardar cambios</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function toggleCapsWarning(fieldId, warningId) {
        var inputField = document.getElementById(fieldId);
        var warning = document.getElementById(warningId);
        inputField.addEventListener('keyup', function (e) {
            var capsLockOn = e.getModifierState('CapsLock');
            warning.style.display = capsLockOn ? 'block' : 'none';
        });
    }

    toggleCapsWarning('contrasenhaActual', 'capsLockWarningActual');
    toggleCapsWarning('nuevaContrasenha', 'capsLockWarningNueva');
    toggleCapsWarning('confirmarContrasenha', 'capsLockWarningConfirmar');
</script>
