@using CapaPresentacion.Controllers;
@model CapaPresentacion.ViewModels.EstudianteViewModel
@{
    ViewBag.Title = "Edición Estudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="@Url.Action(nameof(CentrosEducativosController.EdicionEstudiante), "CentrosEducativos")">
    @Html.HiddenFor(m => m.Estudiante.IdEstudiante, Model.Estudiante.IdEstudiante)
    <h2>
        @Html.DisplayFor(m => m.Estudiante.CursoConvocatoria)
    </h2>
    <div class="form-group">

        @Html.LabelFor(m => m.Estudiante.CursoConvocatoria)
        @Html.TextBoxFor(m => m.Estudiante.CursoConvocatoria, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreEstudiante)
        @Html.TextBoxFor(m => m.Estudiante.NombreEstudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Ap1Estudiante)
        @Html.TextBoxFor(m => m.Estudiante.Ap1Estudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Ap2Estudiante)
        @Html.TextBoxFor(m => m.Estudiante.Ap2Estudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreCompletoTutor1)
        @Html.TextBoxFor(m => m.Estudiante.NombreCompletoTutor1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.TelefonoTutor1)
        @Html.TextBoxFor(m => m.Estudiante.TelefonoTutor1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreCompletoTutor2)
        @Html.TextBoxFor(m => m.Estudiante.NombreCompletoTutor2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.TelefonoTutor2)
        @Html.TextBoxFor(m => m.Estudiante.TelefonoTutor2, new { @class = "form-control" })
    </div>

    <h5>DIAGNÓSTICOS</h5>

    <style>
        #tablaAdaptacionesRegistradas th, #tablaAdaptacionesRegistradas td {
            width: 25%;
            text-align: left;
        }
    </style>

    <table id="tablaAdaptacionesRegistradas" style="display: none;">
        <thead>
            <tr>
                <th>Id Diagnóstico</th>
                <th>Nombre Adaptación</th>
                <th>Observaciones</th>
                <th>Borrar Adaptación</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.SelectedAdaptaciones.Count; i++)
            {
                <tr>
                    <td>@Html.HiddenFor(m => m.SelectedAdaptaciones[i].DiagnosticoId)</td>
                    <td>@Html.EditorFor(m => m.SelectedAdaptaciones[i].AdaptacionDiagnosticoEstudiante.Adaptacion.NombreAdaptacion)</td>
                    <td>@Html.EditorFor(m => m.SelectedAdaptaciones[i].AdaptacionDiagnosticoEstudiante.Observaciones)</td>
                    <td><button class="deleteButton">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row" id="diagnosticosDropdown">
        <div class="col-md-auto">
            @Html.DropDownListFor(m => m.SelectedDiagnostico, new SelectList(Model.Diagnosticos, "IdDiagnostico", "NombreDiagnostico"), "Seleccione select", new { @class = "form-select", id = "selectDiagnostico" })
        </div>
    </div>
    <div id="diagnosticosBody">

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Convocatoria)
        <div>
            @Html.RadioButtonFor(m => m.isOrdinaria, true, new { id = "ordinaria" }) <label for="ordinaria">Ordinaria</label>
            @Html.RadioButtonFor(m => m.isOrdinaria, false, new { id = "extraordinaria" }) <label for="extraordinaria">Extraordinaria</label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Observaciones)
        @Html.TextBoxFor(m => m.Estudiante.Observaciones, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-custom">Guardar cambios</button>
    </div>
    <div class="form-group">
        <p>@Html.ActionLink("Volver", nameof(CentrosEducativosController.EstudiantesCentro), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
    </div>
</form>
<!-- Script de gestion de radio button de convocatoria-->
