@using CapaPresentacion.Controllers;
@model CapaEntidad.CentroEducativo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var centro = Model; // Obtiene el centro educativo pasado como parámetro a la vista
}

@if (ViewData["MensajeError"] != null)
{ 
    <div role="alert" class="alert alert-danger">
        @ViewData["MensajeError"]
    </div>
}
@if (ViewData["MensajeOk"] != null)
{
    <div role="alert" class="alert alert-success">
        @ViewData["MensajeOk"]
    </div>
}

<form method="post" action="@Url.Action(nameof(CentrosEducativosController.EdicionCentro), "CentrosEducativos")">
    <div class="form-group">
        @Html.LabelFor(m => m.NombreCE)
        @Html.ValueFor(m => m.NombreCE)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Correo)
        @Html.ValueFor(m => m.Correo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sede)
        @((Model.Sede?.NombreSede) ?? "Pendiente de Asignación")
    </div>
    <div class="form-group">
        <label>Dirección del centro educativo</label>
        @Html.DisplayFor(m => m.Direccion.DisplayValue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TelefonoCE)
        @Html.TextBoxFor(m => m.TelefonoCE, new { @class = "form-control", @type = "tel" })
    </div>
    <h5>Información del Orientador</h5>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.NombreOrientador)
        @Html.TextBoxFor(m => m.NombreOrientador, new { @class = "form-control" })
    </div>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.ApellidosOrientador)
        @Html.TextBoxFor(m => m.ApellidosOrientador, new { @class = "form-control" })
    </div>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.TelefonoOrientador)
        @Html.TextBoxFor(m => m.TelefonoOrientador, new { @class = "form-control", @type = "tel" })
    </div>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.CorreoOrientador)
        @Html.TextBoxFor(m => m.CorreoOrientador, new { @class = "form-control", @type = "email" })
    </div>
    <h5>Información del Equipo Directivo</h5>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.NombreEquipoDirectivo)
        @Html.TextBoxFor(m => m.NombreEquipoDirectivo, new { @class = "form-control" })
    </div>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.ApellidosEquipoDirectivo)
        @Html.TextBoxFor(m => m.ApellidosEquipoDirectivo, new { @class = "form-control" })
    </div>
    <div class="form-group m-3">
        @Html.LabelFor(m => m.TelefonoEquipoDirectivo)
        @Html.TextBoxFor(m => m.TelefonoEquipoDirectivo, new { @class = "form-control", @type = "tel" })
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-custom">Guardar cambios</button>
    </div>
</form>
