@using CapaPresentacion.Controllers;
@model CapaPresentacion.ViewModels.EstudianteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="@Url.Action(nameof(CentrosEducativosController.InfoEstudiante), "CentrosEducativos")">
    <h2>
        @Html.DisplayFor(m => m.Estudiante.CursoConvocatoria)
    </h2>
    <div class="form-group">

        @Html.LabelFor(m => m.Estudiante.CursoConvocatoria)
        @Html.DisplayFor(m => m.Estudiante.CursoConvocatoria, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreEstudiante)
        @Html.DisplayFor(m => m.Estudiante.NombreEstudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Ap1Estudiante)
        @Html.DisplayFor(m => m.Estudiante.Ap1Estudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Ap2Estudiante)
        @Html.DisplayFor(m => m.Estudiante.Ap2Estudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreCompletoTutor1)
        @Html.DisplayFor(m => m.Estudiante.NombreCompletoTutor1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.TelefonoTutor1)
        @Html.DisplayFor(m => m.Estudiante.TelefonoTutor1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreCompletoTutor2)
        @Html.DisplayFor(m => m.Estudiante.NombreCompletoTutor2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.TelefonoTutor2)
        @Html.DisplayFor(m => m.Estudiante.TelefonoTutor2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Convocatoria)
        @Html.DisplayFor(m => m.Estudiante.Convocatoria)
    </div>
    <h5>ASIGNATURAS PREVISTAS A PRESENTAR EN LA EBAU</h5>
    <div class="form-group m-3">
        <h6>FASE 1:</h6>
        @foreach (var asignatura in Model.AsignaturasFase1)
        {
            <div class="form-group">
                @Html.DisplayFor(m => asignatura.NombreAsignatura)
            </div>
        }
        <h6>FASE 2 (Opcional):</h6>
        @foreach (var asignatura in Model.AsignaturasFase2)
        {
            <div class="form-group">
                @Html.DisplayFor(m => asignatura.NombreAsignatura)
            </div>
        }
    </div>
    <h5>DIAGNOSTICOS</h5>
    <div class="form-group m-3">
        @foreach (var diagnostico in Model.Estudiante.Diagnosticos)
        {
            <div class="form-group">
                @Html.DisplayFor(m => diagnostico.NombreDiagnostico)
            </div>
            <h6 class="m-3">Adaptaciones</h6>
            foreach (var adaptacion in diagnostico.AdaptacionesEstudiante)
            {
                <div class="form-group m-3">
                    @Html.DisplayFor(m => adaptacion.Adaptacion.NombreAdaptacion)
                </div>
            }
        }
    </div>
    <h5>DOCUMENTOS</h5>
    <div class="form-group m-3">
        @foreach (var documento in Model.Estudiante.Documentos)
        {

            <div class="form-group">
                @Html.DisplayFor(m => documento.NombreDocumento)
            </div>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Observaciones)
        @Html.DisplayFor(m => m.Estudiante.Observaciones, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <p>@Html.ActionLink("Volver", nameof(CentrosEducativosController.EstudiantesCentro), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
    </div>
</form>
