@using CapaPresentacion.Controllers;
@model CapaPresentacion.ViewModels.EstudianteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modelo = Model;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form method="post" action="@Url.Action(nameof(CentrosEducativosController.RegistroEstudiante), "CentrosEducativos")">
    <div>
        @Html.LabelFor(m => m.PlazoRegistroActivo.CursoConvocatoria)
        <p>@Html.DisplayFor(m => m.PlazoRegistroActivo.CursoConvocatoria)</p>
        <p>@Html.DisplayFor(m => m.PlazoRegistroActivo.FechaIni)</p>
        <p>@Html.DisplayFor(m => m.PlazoRegistroActivo.FechaFin)</p>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreEstudiante)
        @Html.TextBoxFor(m => m.Estudiante.NombreEstudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Ap1Estudiante)
        @Html.TextBoxFor(m => m.Estudiante.Ap1Estudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Ap2Estudiante)
        @Html.TextBoxFor(m => m.Estudiante.Ap2Estudiante, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreCompletoTutor1)
        @Html.TextBoxFor(m => m.Estudiante.NombreCompletoTutor1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.TelefonoTutor1)
        @Html.TextBoxFor(m => m.Estudiante.TelefonoTutor1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.NombreCompletoTutor2)
        @Html.TextBoxFor(m => m.Estudiante.NombreCompletoTutor2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.TelefonoTutor2)
        @Html.TextBoxFor(m => m.Estudiante.TelefonoTutor2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Convocatoria)
        <div>
            @Html.RadioButton("Convocatoria", "Ordinaria", Model.Estudiante.Convocatoria == "Ordinaria", new { id = "ordinaria" }) <label for="ordinaria">Ordinaria</label>
            @Html.RadioButton("Convocatoria", "Extraordinaria", Model.Estudiante.Convocatoria == "Extraordinaria", new { id = "extraordinaria" }) <label for="extraordinaria">Extraordinaria</label>
        </div>
    </div>
    <h5>ASIGNATURAS PREVISTAS A PRESENTAR EN LA EBAU</h5>
    <div class="form-group m-3">
        <h6>FASE 1:</h6>
        @for (int i = 0; i < Model.AsignaturasFase1.Count; i++)
        {
            <div class="form-check">
                @Html.CheckBoxFor(m => m.AsignaturasFase1[i].IsSelected, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.AsignaturasFase1[i].IsSelected, Model.AsignaturasFase1[i].NombreAsignatura, new { @class = "form-check-label" })
            </div>
        }
        <h6>FASE 2 (Opcional):</h6>
        @for (int i = 0; i < Model.AsignaturasFase2.Count; i++)
        {
            <div class="form-check">
                @Html.CheckBoxFor(m => m.AsignaturasFase2[i].IsSelected, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.AsignaturasFase2[i].IsSelected, Model.AsignaturasFase2[i].NombreAsignatura, new { @class = "form-check-label" })
            </div>
        }
    </div>



    <h5>DIAGNÓSTICOS</h5>
    <div class="form-group m-3">
        <button id="btnAddDiagnostico" type="button" class="btn btn-custom">Añadir Diagnóstico</button>
    </div>
    <div id="diagnosticosDropdown" class="form-group" style="display: none;">
        
        @Html.DropDownListFor(m => m.SelectedDiagnostico, new SelectList(Model.Diagnosticos, "IdDiagnostico", "NombreDiagnostico"), "Seleccione un diagnóstico", new { @class = "form-control", id = "selectDiagnostico" })
    </div>
    <div id="adaptacionesContainer">
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Estudiante.Observaciones)
        @Html.TextAreaFor(m => m.Estudiante.Observaciones, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-custom">Registrar</button>
    </div>
</form>
<div class="form-group">
    <p>@Html.ActionLink("Volver", nameof(CentrosEducativosController.ControladorCentro), "CentrosEducativos", null, new { @class = "btn btn-custom" })</p>
</div>

<script>
    $(document).ready(function () {
        // Función para manejar el clic en el botón "Añadir Diagnóstico"
        $("#btnAddDiagnostico").click(function () {
            // Mostrar el desplegable con los diagnósticos
            $("#diagnosticosDropdown").show();
        });

        // Función para manejar el cambio en el desplegable de diagnósticos
        $("#selectDiagnostico").change(function () {
            // Obtener el diagnóstico seleccionado
            var selectedDiagnostico = $(this).val();
            // Mostrar las adaptaciones activas correspondientes al diagnóstico seleccionado
            // Puedes implementar esta parte según la lógica específica de tu aplicación

            GetAdaptacions();
        });
    });
</script>

<script>

    function GetAdaptacions() {
        $.ajax({
            type: "GET",
            url: "@Url.Action(nameof(CentrosEducativosController.GetAdaptaciones), "CentrosEducativos")",
            dataType: 'json',
            contentType: 'application/json',
            data: {
                idDiagnostico: $("#selectDiagnostico").val()
            },
            success: function(adaptaciones) {
                // Vaciar el contenedor de adaptaciones
                $("#adaptacionesContainer").empty();
                /*
                // Crear un checkbox para cada adaptación
                $.each(adaptaciones, function (i, adaptacion) {
                    var checkbox = $('<input>').attr('type', 'checkbox').attr('name', 'Adaptaciones').attr('value', adaptacion.IdAdaptacion);
                    var label = $('<label>').text(adaptacion.NombreAdaptacion);
                    $("#adaptacionesContainer").append(checkbox).append(label).append('<br>');
                });
                */
                // Crear un dropdownlist para las adaptaciones
                var dropdown = $('<select>').attr('name', 'Adaptaciones').attr('id', 'selectAdaptacion').attr('class', 'form-control');

                // Añadir una opción por defecto
                dropdown.append($('<option>').text('Seleccione una adaptación').val(''));

                // Añadir una opción para cada adaptación
                $.each(adaptaciones, function (i, adaptacion) {
                    dropdown.append($('<option>').text(adaptacion.NombreAdaptacion).val(adaptacion.IdAdaptacion));
                });

                // Añadir el dropdownlist al contenedor de adaptaciones
                $("#adaptacionesContainer").append(dropdown);
            }
        })
    }
</script>


